<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TecRoot Test Suite">
    <test verbose="2" preserve-order="true" name="Home Page Tests">
        <parameter name="email" value="kumudikadinith@gmail.com"/>
        <classes>
            <class name="org.assignment2.tests.HomePageTest">
                <methods>
                    <include name="verifyHomePageTitleTest"/>
                    <include name="allowNotificationPopUpTest"/>
                    <include name="openChatWindowAndRedirectToWhatsappTest"/>
                    <include name="signUpToNewsletterTest"/>
                    <include name="goToAccountPageTest"/>
                </methods>
            </class>
            <class name="org.assignment2.tests.LoginTest">
                <methods>
                    <include name="verifyAccountPageTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>